extends layout.pug
block content
  +navbar()
  #article-page
    //- .pure-g
    //-   .pure-u-1.pure-u-lg-1-2
    //-     .initiative-img-cont
    //-       img(src=image)
    //-   .pure-u-1.pure-u-lg-1-2
    //-     .initiative-text
    //-       .initiative-title=title
    //-       .initiative-description!=short_description
    //-       a.initiative-site=website
    //-       .initiative-btn
    //-         button.btn
    //-           a(href=website target="_blank") Try it
    .pure-g
      .pure-u-1
        div!=contents
