extends layout.pug
block content
  +navbar("experiments")

  section.home-screen-6
    .screen-container
      .pure-g
        .pure-u-1
          .screen-description
            |We experiment on social platforms, leveraging the power of communities to spread culture on the web, and have fun !
      - var groupedBy3Experiments = helpers.groupBy(experiments, 3);
      each threeExperiments in groupedBy3Experiments
        .pure-g(style="margin:0 1rem 0;")
          each experiment in threeExperiments
            .pure-u-1.pure-u-lg-1-3
              .home-project-container
                .home-project-img-cont
                  img(src=experiment.image)
                .home-project-text
                  .home-project-title=experiment.title
                  .home-project-description!=experiment.short_description
