footer
  .pure-g
    .pure-u-1.pure-u-md-1-6
    .pure-u-1.pure-u-md-1-3
      p Contact:
      a(href="https://dbaruchel.typeform.com/to/ERD4by" target="_blank") Formulaire
      br
      |ou
      br
      a(href="mailto:contact@startthefup.fr") contact@startthefup.fr
    .pure-u-1.pure-u-md-1-3
      p Vous souhaitez nous rejoindre ?
      a(href="mailto:join@startthefup.fr") join@startthefup.fr
    .pure-u-1.pure-u-md-1-6