extends layout.pug
block content
  +navbar()
  #initiative-page
    .pure-g
      .pure-u-1.pure-u-lg-1-2
        .initiative-img-cont
          img(src="./assets/screenshot-curiosity.png")
      .pure-u-1.pure-u-lg-1-2
        .initiative-text
          .initiative-title=title
          .initiative-description!=contents
          .initiative-site www.curiosity.com
          .initiative-btn
            button.btn
              a(href=site target="_blank") Try it
    .pure-g
      .pure-u-1
        .initiative-worthwhile Why it's WorthWhile
        .initiative-opinion Describe the initiative with our own words, why we think it's cool, and how it helps make the web a better place. Could also include pros and cons, or tips on how to use it ?
