extends layout.pug
block content
  +navbar("initiatives")

  section.home-screen-6
    .screen-container
      .pure-g
        .pure-u-1
          .screen-description
            |A collection of initiatives that help make the web a better place.
      - var groupedBy3Initiatives = helpers.groupBy(initiatives, 3);
      each threeInitiatives in groupedBy3Initiatives
        .pure-g(style="margin:0 1rem 0;")
          each initiative in threeInitiatives
            .pure-u-1.pure-u-lg-1-3
              .home-project-container
                .home-project-img-cont
                  img(src=initiative.image)
                .home-project-text
                  a.home-project-title(href=link.to(initiative.path))=initiative.title
                  .home-project-description!=initiative.short_description