extends layout.pug
block content
  +navbar("collection")
  #offer-page
    h1.screen-title Collection
    .screen-description
      |A collection of initiatives that help make the web a better place.

    .formulas-list
      .pure-g(style="margin:0 1rem 0;")

        each initiative in initiatives

          .pure-u-1.pure-u-lg-1-3
            .home-project-container
              a(href=initiative.url)
                .home-project-img-cont
                  img(src=initiative.image_url)
                .home-project-text
                  .home-project-title #{initiative.name}
                  .home-project-description #{initiative.description}


    //- .btn-cont
    //-   button.btn 
    //-     a(href="projets.html") Voir nos réalisations
    //-   |&nbsp;&nbsp;
    //-   button.btn
    //-     a(href="https://dbaruchel.typeform.com/to/ERD4by" target="_blank") Je me lance


  //- section#home-screen-5
  //-   .pure-g
  //-     .pure-u-1.pure-u-md-1-2
  //-       .screen-content
  //-         .pb-title Entrepreneur ?
  //-         .pb-description 
  //-           |Peu de ressources ?
  //-           br
  //-           |Pas les compétences pour tout faire tout seul ?
  //-           br
  //-           |On connaît :)
  //-           br
  //-           |Pas besoin d’un CTO, d’un designer, et d’une armée de codeurs pour avancer…
  //-         .solution-box
  //-           |Nous vous aidons à formaliser votre idée et à la réaliser pour que vous la testiez rapidement.


  //-     .pure-u-1.pure-u-md-1-2
  //-       .screen-content
  //-         .pb-title Intrapreneur ?
  //-         .pb-description
  //-           |Une idée ? 
  //-           br
  //-           |Votre entreprise ne débloquera pas de gros budget sans preuve de concept ?
  //-           br
  //-           |Pourquoi payer pour des fonctionnalités complexes et chères, sans s’assurer qu’elles sont utiles ?